allow crash_dump debugfs:file { open w_file_perms };
allow crash_dump sysfs:file { getattr open read };
allow crash_dump unlabeled:file { getattr open read };


