type camera_sysfs, sysfs_type, fs_type ;
type ion_debugfs, debugfs_type, fs_type;
type surfaceflinger_sysfs, sysfs_type, fs_type ;
type vibeamp_sysfs, sysfs_type, fs_type ;

