allow init self:netlink_socket write;
allow init self:netlink_kobject_uevent_socket read;
allow init self:netlink_route_socket read;
allow init self:udp_socket ioctl;

allow init device:chr_file { ioctl open read write };
allow init video_device:chr_file { ioctl write };
allow init ion_device:chr_file ioctl;

allow init vendor_file:file execmod;
allow init camera_sysfs:file rw_file_perms;
allow init debugfs_trace_marker:file getattr;
allow init debugfs:file w_file_perms;
allow init vibeamp_sysfs:file rw_file_perms;
allow init system_file:file execute_no_trans;

# Requied to load shim libs
allow init { domain -lmkd -crash_dump }:process noatsecure;
allow init cameraserver:process { noatsecure };
allow init hal_camera:process { noatsecure };
allow init mm-qcamerad:process { noatsecure };

