allow mediaserver socket_device:sock_file { write };
allow mediaserver mm-qcamerad:unix_dgram_socket sendto;
allow mediaserver audio_device:chr_file rw_file_perms;
allow mediaserver camera_device:chr_file rw_file_perms;
allow mediaserver ion_debugfs:file read;
allow mediaserver tee_device:chr_file rw_file_perms;
allow mediaserver system_file:file execmod;
allow mediaserver sensorservice_service:service_manager find;
binder_call(mediaserver, servicemanager);
binder_call(mediaserver, sensorservice_service);
allow mediaserver system_server:service_manager find;
binder_call(mediaserver, system_server);
allow mediaserver system_server:unix_stream_socket rw_socket_perms;
