allow mediaextractor sysfs:file { getattr open read };
allow mediaextractor system_server:fifo_file write;
allow mediaextractor sdcardfs:file { getattr read };
