allow netmgrd self:capability dac_override;
allow netmgrd shell_exec:file { execute execute_no_trans getattr open read };
allow netmgrd toolbox_exec:file { execute execute_no_trans getattr open read };
