allow servicemanager sysfs:file { getattr open };
allow servicemanager sysfs:file read;
allow servicemanager mm-qcamerad:dir search;
allow servicemanager mm-qcamerad:file { open read };
allow servicemanager mm-qcamerad:process getattr;
